.icon-min{
    display: block;
    margin-left: .5rem;
    color: $green;
    padding: .6rem;
    background: #ffffff ;
    clip-path: circle(1rem);
    font-size: 1.2rem;
    cursor: pointer;
}

.icon-cart{
    display: block;
    margin-left: .5rem;
    color: black;
    //padding: .6rem;
    background: #ffffff ;
    border-radius: 9px;
    padding-left: .7rem;
    font-size: 1.2rem;
    cursor: pointer;
}
